<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="home.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="match">
        <img src="logo_small.png" />
        <button>Créer un match</button>
      </div>
      <div class="games">
        <div class="game">Call Of Duty</div>
        <div class="game">Fortnite</div>
        <div class="game">Apex</div>
        <div class="game plus">+</div>
      </div>
      <button src="connexion.html">Connexion</button>
    </header>
  </body>
</html>
