<header>
    <div class="match">
        <img src="logo_small.png" />
        <button onclick="togglePopup('create_match')">Créer un match</button>
    </div>
    <div class="games">
        <div class="game">Call Of Duty</div>
        <div class="game">Fortnite</div>
        <div class="game">Apex</div>
        <nav>
            <ul>
                <div class="btnPlus" id="btnPlus">+</div>
                <div id="gamesList" hidden>
                    <ul class="sous">
                        <li><a class="game">Battelfield </a></li>
                        <li><a class="game">RocketLigue</a></li>
                        <li><a class="game">TrackMania</a></li>
                    </ul>
            </ul>
        </nav>
    </div>
    <button id="connexionBtn" onclick="togglePopup('connect')">Connexion</button>
</header>