<div id="connect" class="popup">
  <div class="popup-content">
    <div class="auth-popup">
      <h4 class="connexion">Connexion</h4>
      <p>Adresse mail :</p>
      <input
        name="email"
        type="email"
        placeholder="abc@example.fr"
        required
        minlength="4"
        maxlength="8"
      />
      <p>Mot de passe :</p>
      <input name="password" type="password" placeholder="••••••" />
      <button class="mdp">Mot de passe oubliée ?</button>
      <div class="register-menu">
        <button name="btn-reg" class="inscri">Pas membre ?</button>
        <button name="btn-connect" class="co">Connexion</button>
      </div>
      <button class="closeBtn" onclick="togglePopup('connect')">X</button>
      <div class="social-networks">
        <button><img src="PlayStation.png" name="playstation" /></button>
        <button><img src="Xbox.png" name="xbox" /></button>
        <button><img src="EpicGames.png" name="epic games" /></button>
        <button><img src="Facebook.png" name="facebook" /></button>
        <button><img src="google.png" name="google" /></button>
      </div>
    </div>
  </div>
</div>
